body{
  /* Note: I took the background from the demo source code. */
  background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
}

#info{
  margin: 30vh 20vw 5vh 20vw;
  /* margin-top: 30vh; */
  height: 40vh;
  /* width: 80vw; */
  border: solid 10px green;
}

#find{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
