div {
    text-align: center;
    color: white;
    font-size: 4em;
}

.sectionflexbox {
    border: 3px solid red;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.f_box{
  background-color: #00bcff7a;
  margin: 3px;
}

.one, .three{
  align-self: stretch;
  flex-basis: 50px;
  height: 100px;
}

.two{
  flex-basis: 150px;
  width: 75%;
}

#grid{
  padding: 1rem;
  height: 500px;
  background-color: pink;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 2fr;
  border: 1px solid black;
  grid-gap: 1rem;
}

/* .item2{
  grid-row: 2/ span 1;
}
.item3{
  grid-row: 3/ span 1;
}
.item4{
  grid-row: 1/ span 1;
} */
.red{
  background-color: red;
}
.blue{
  background-color: blue;
  /* grid-column: 2 / span 3; */
}
.yellow{
  background-color: yellow;
  /* grid-row: 4 / span 1; */
  grid-column: 1 / span 2;
}
