
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'");

*{
    font-family: 'Poppins',sans-serif;
}

body{
  background-color: #00b4ff4f;
}

section{
  /* height: 800px; */
  display: flex;
  direction: column;
  justify-content: space-between;
  margin: 10%;
}

#personal_information{
  flex-basis: 33%;
  background-color: gray;

}

#res_body{
  background-color: rgb(240,240,240);
  flex-basis: 67%;
}

#skills_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-wrap: wrap;
}

.body_item{
  /* margin-left: 5%;
  margin-right: 5%; */
  margin: 5% 2% 5% 2%;
}

#profile_pic{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20vh;
  width: 50%;
  border-radius: 100%;
}

.pi_item{
  text-align: center;
  margin: 5% 2% 5% 2%;
}

#personal_information hr{
  margin-left: 15%;
  margin-right: 15%;
}
