body{
  box-sizing: border-box;
  margin: 0;
}

header{
  height: 50px;
  background-color: black;
  display: inline;
}

header ul li{
  border: 1px solid black;
  display: inline;
  float: right;
}

#icon{
  float: left;
}

 .p_item{
   width: 20%;
   display: inline;
   padding: 1%;
   margin: 1%;
   border: 1px red solid;
 }

.p_item img{
  width: 20%;
}

.item_body{
  /* display: inline; */
}
 .item_body *{
   margin: 0;
 }
